<!DOCTYPE html>
<html>
<head>
  <title>Edit Library</title>
  <script type="javascript" src="app/assets/javascripts/edit_library.js"></script>
</head>

<body>
  <center>
    <div class="container edit-page">
      <h3>Edit Library Details</h3>
      <table class="library-edit" cellpadding="10">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Button</th>th>
        </tr>
        <tr id="template edit-page">
          <td id="name"></td>
          <td id="address"></td>
          <td id="phone_no"></td>
          <td id="edit"></td>
        </tr>
      </table>
    </div>
  </center>
</body>
</html>