<!DOCTYPE html>
<html>
<head>
 <title>Library</title>
</head>

<body>
  <center>
    <div class="container">
      <header class="header">
        <h1>Library Management System</h1>
      </header>
      <div class="container-index hidden">
        <h3>Listing Libraries</h3>
        <table class="library" cellpadding="10">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Links</th>
          </tr>
          <tr id="template">
            <td id="name"></td>
            <td id="address"></td>
            <td id="phone_no"></td>
            <td id="links"></td>
          </tr>
        </table>
      </div>
    </div> 
  </center>
</body>
</html>