<!DOCTYPE html>
<html>
<head>
  <title>Show Library</title>
  <script type="javascript" src="app/assets/javascripts/show_library.js"></script>
</head>

<body>
  <center>
    <div class="container show-page">
      <h3>Library Details</h3>
      <table class="library-show" cellpadding="10">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone Number</th>
        </tr>
        <tr id="template show-page">
          <td id="name"></td>
          <td id="address"></td>
          <td id="phone_no"></td>
        </tr>
      </table>
    </div>
  </center>
</body>
</html>