<!DOCTYPE html>
<html>
<head>
  <title>Edit Book</title>
  <script type="javascript" src="app/assets/javascripts/edit_book.js"></script>
  <link rel="stylesheet" type="text/css" href="library_show.css">
</head>

<body>
  <center>
    <div class="container edit-page">
      <h3>Edit Book Details</h3>
      <table class="book-edit" cellpadding="10">
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Code</th>
          <th>Price</th>
          <th>Version</th>
          <th>No_of_Copies</th>
        </tr>
        <tr id="template edit-page">
          <td id="name"></td>
          <td id="author"></td>
          <td id="code"></td>
          <td id="price"></td>
          <td id="version"></td>
          <td id="no_of_copies"></td>
          <td id="edit"></td>
        </tr>
      </table>
    </div>
  </center>
</body>
</html>